.Header {
  text-align: center;
  background-color: darkolivegreen;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  color: rgb(156, 46, 46);
}

.plant-name{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
font-style: oblique;
background-color: darkgreen;
color: white;
}

.plant-age{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  background-color: darkgreen;
  color: white;
}

.plant-enjoy{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  background-color: darkgreen;
  color: white;
}
